# Env DEV / PROD
ENV=PROD

# Google OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=XX...X.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=XX...X
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:3000/auth/callback

# Database Configuration
DB_HOST=host.domain.com
DB_PORT=3306
DB_NAME=db_name
DB_USERNAME=username
DB_PASSWORD=password

DB_DIALECT=mysql

CENTRAL_SYSTEM_USER_ID=8aXxXxXxXxXxXxXx
CENTRAL_BRANCH=0